/* .modal-fullscreen */

.modal-fullscreen {
  background: rgba(144, 168, 120, 0.85);
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: 0.97;
  filter: alpha(opacity=97);
}
.close {
    color: white; 
    opacity: 1;
    font-size: 5rem;
    font-weight: 100;
    text-shadow: none;
}
.close:hover {
  color: white;
}
.modal-title {
  text-align: center;
  padding-top: 20px;
  font-size: 2.3em;
}
figcaption.modal-body {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
img.modal-body {
  display: block;
  width: 100%;
}



/*.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}*/

/* .modal-fullscreen sizing */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/*text/symbol over image*/
/*.img-text {
  font-size: 5em;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg);
  display: inline-block;
}*/

/*.card-img .img-text {
  text-align: center;
  position:relative;
  bottom: 220px;
  visibility:hidden;
}*/

/*change cursor over images*/
img.card-img-top {
  cursor: pointer;
  /*cursor: crosshair;*/
}


@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}